<html>
    <head>
        <title>GSD-Akigai</title>
    </head>
    <body>
        <h1>ECG</h1>
        <h3>Not that Medical thing</h3>
        <form action="#" method="POST">
            <p>Experience:</p><textarea name="e1" id="e1" cols="30" rows="10">{{pp1}}</textarea><br/>
            <p>Growth:</p><textarea name="e2" id="e2" cols="30" rows="10">{{pp2}}</textarea><br/>
            <p>Contribute:</p><textarea name="e3" id="e3" cols="30" rows="10">{{pp3}}</textarea><br/>
            <input type="submit" name="savedirec" value="Back"/>
            <input type="submit" name="savedirec" value="Save"/>
        </form>
    </body>
</html>