<html>
    <head>
        <title>GSD-Akigai</title>
    </head>
    <body>
        <h1>Phase 1</h1>
        <h3>In this phase, keep and open mind and the options for each one of the following questions flow as it is. 
            We’ll be going over some fundamental and core aspects that define you. <br/>
            <strong>THERE IS NO WRONG ANSWER. </strong> </h3>
        <form action="#" method="POST">
            <p>Things you're passionate about</p><textarea name="p11" id="p11" cols="30" rows="10">{{pp1}}</textarea><br/>
            <p>Things you're Good at</p><textarea name="p12" id="p12" cols="30" rows="10">{{pp2}}</textarea><br/>
            <p>Things you can get paid for</p><textarea name="p13" id="p13" cols="30" rows="10">{{pp3}}</textarea><br/>
            <p>Things you care for</p><textarea name="p14" id="p14" cols="30" rows="10">{{pp4}}</textarea><br/>
            <input type="submit" name="savedirec" value="Back"/>
            <input type="submit" name="savedirec" value="Save"/>
        </form>
    </body>
</html>