<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>aki</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body>
    <div class="container" style="max-width: 1920px;padding-left: 250px;padding-right: 250px;margin-top: 30px;margin-bottom: 10px;">
        <div class="row" style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;">
            <div class="col"><img src="static/assets/img/Logo_Horizontal@3x.png"></div>
        </div>
        <form action="#" method="post">
            <div class="form-row text-center" style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;margin-top: 40px;">
                <div class="col"><button class="btn btn-dark active btn-lg text-center text-light shadow" type="button" style="width: 354px;height: 82px;margin: 5px;" >Phase 1</button></div>
                <div class="col"><button class="btn btn-dark btn-lg text-center text-dark bg-light shadow" type="submit" style="width: 354px;height: 82px;margin: 5px;" name="savedirec" value="phase2">Phase 2</button></div>
            </div>
            <div class="form-row text-center" style="margin-right: 0px;margin-left: 0px;margin-bottom: 20px;margin-top: 25px;">
                <div class="col text-center"><audio class="border-dark shadow-sm" autoplay controls><source src="static/assets/audio/hot_sugar.mp3" type="audio/mpeg" ></audio></div>
            </div>
            <div class="form-row" style="margin-bottom: 0px;">
                <div class="col">
                    <h2 class="text-center">Experience</h2><textarea class="form-control form-control-lg" style="height: 513px;margin: 0px;" name="e1" placeholder="Experience" autocomplete="on" spellcheck="true">{{pp1}}</textarea></div>
                <div class="col">
                    <h2 class="text-center">Growth</h2><textarea class="form-control form-control-lg" style="height: 513px;margin: 0px;" name="e2" placeholder="Growth" autocomplete="on" spellcheck="true">{{pp2}}</textarea></div>
                <div class="col">
                    <h2 class="text-center">Contribute</h2><textarea class="form-control form-control-lg" style="height: 513px;margin: 0px;" placeholder="Contribute" name="e3" autocomplete="on" spellcheck="true">{{pp3}}</textarea></div>
            </div>
            <div class="form-row" style="margin-bottom: 15px;">
                <div class="col text-left" style="margin-top: 25px;padding-right: 58px;"><button class="btn btn-secondary btn-lg text-uppercase text-center text-dark bg-light shadow" type="submit" style="width: 209px;height: 50px;" name="savedirec" value="ikigai">Ikigai</button></div>
                <div class="col text-right" style="margin-top: 25px;padding-right: 58px;"><button class="btn btn-secondary btn-lg text-uppercase text-center text-dark bg-light shadow" type="submit" style="width: 209px;height: 50px;" name="savedirec" value="log">Logout</button></div>
            </div>
        </form>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-linkedin-outline"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul
                class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">Rodin Jack x Get Shit Done © 2021</p>
        </footer>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>