<html>
    <head>
        <title>GSD-Akigai</title>
    </head>
    <body>
        <h1>Phase 3</h1>
        <h3>Find your Ikigai<br/> 
            <strong>REMEMBER YOUR PRIORITIES</strong> </h3>
        <form action="#" method="POST">
            <p>Your Ikigai:</p><textarea name="p31" id="p31" cols="30" rows="10">{{pp1}}</textarea><br/>
            <p>Finals</p><textarea name="p32" id="p32" cols="30" rows="10">{{pp2}}</textarea><br/>
            <input type="submit" name="savedirec" value="Back"/>
            <input type="submit" name="savedirec" value="Save"/>
        </form>
    </body>
</html>