<html>
    <head>
        <title>GSD-Akigai</title>
    </head>
    <body>
        <h1>Phase 2</h1>
        <h3>In this phase, let’s get serious with respect to prioritising your options. 
            We’ll be taking it up a notch and seeing how your individual cores get along with each other under certain real world conditions.<br/>
            Again, <strong>THERE IS NO WRONG ANSWER.</strong> </h3>
        <form action="#" method="POST">
            <p>Find your Passion:</p><textarea name="p21" id="p21" cols="30" rows="10">{{pp1}}</textarea><br/>
            <p>Define your Mission:</p><textarea name="p22" id="p22" cols="30" rows="10">{{pp2}}</textarea><br/>
            <p>Understand your Vocation:</p><textarea name="p23" id="p23" cols="30" rows="10">{{pp3}}</textarea><br/>
            <p>Finalise your Profession:</p><textarea name="p24" id="p24" cols="30" rows="10">{{pp4}}</textarea><br/>
            <input type="submit" name="submit"/>
        </form>
    </body>
</html>