<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>aki</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css')}}">
</head>

<body>
    <div class="container" style="max-width: 1920px;padding-left: 250px;padding-right: 250px;margin-top: 30px;margin-bottom: 10px;">
        <div class="row" style="margin-right: 0px;margin-left: 0px;margin-bottom: 0px;">
            <div class="col"><img src="{{ url_for('static', filename='assets/img/Logo_Horizontal@3x.png')}}"></div>
        </div>
        <form action="#" method="post">
            <div class="form-row" style="margin-bottom: 0px;">
                <div class="col" style="padding-top: 50px;padding-bottom: 50px;"><input class="form-control" type="email" name="mail" placeholder="Enter Email to search here">

                    <div class="table-responsive" style="filter: blur(0px) invert(0%) sepia(0%);padding-top: 5px;padding-bottom: 5px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Ikigai</th>
                                    <th>ECG</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(0,lens) %}
                                <tr>
                                    <td>{{data[i][0]}}</td>
                                    <td>{{data[i][1]}}</td>
                                    <td>{{data[i][2]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <p style="padding-top: 5px;padding-bottom: 5px;">{{content|safe}}</p>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px;">
                <div class="col text-left" style="margin-top: 25px;padding-right: 58px;"><button class="btn btn-secondary btn-lg text-uppercase text-center text-dark bg-light shadow" type="submit" style="width: 209px;height: 50px;" name="savedirec" value="search">Search</button></div>
                <div class="col text-right" style="margin-top: 25px;padding-right: 58px;"><button class="btn btn-secondary btn-lg text-uppercase text-center text-dark bg-light shadow" type="submit" style="width: 209px;height: 50px;" name="savedirec" value="log">Logout</button></div>
            </div>
        </form>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-linkedin-outline"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul
                class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="copyright">Rodin Jack x Get Shit Done © 2021</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>